-#  This file is app/views/movies/index.html.haml
.wrapper
  %h2 All Books
   
  %table#books{:class => "table_results"}
    %thead
      %tr
        %th Book Title
        %th Book Author
        %th More Info
        %th
    %tfoot
      %tr
        %td{:class => "crud_links", :colspan => 4}= link_to "Add New Book", new_book_path
      %tr
        %td{:class => "crud_links", :colspan => 4}
          = form_tag :action => 'search_gbdb' do          
            %label{:for => 'search_terms'} Add from GoogleBook
            = text_field_tag 'search_terms'
            = submit_tag 'Search'
    %tbody
      - @books.each do |book|
        %tr
          %td= book.title
          %td= book.author
          %td= link_to "More about #{book.title}", book_path(book) 
          %td= button_to "DEL", book_path(book), :method => :delete, :confirm => 'Are you sure?'
  
