-# in app/views/movies/show.html.haml
 
%h2 Details about #{@book.title}
 
%ul#details
  %li
    Author:
    = @book.author
 
%h3 Summary:
 
%p#description= @book.summary

= form_tag(reviews_path, {:class => 'form_review'})  do

  = label :review, :review, 'Review (optional)'
  = text_field :review, 'review'
  
  = submit_tag 'Add review'
 
= link_to 'Back to book list', books_path
