-#  This file is app/views/movies/index.html.haml
.wrapper
  %h2 All Books
   
  %table#reviews{:class => "table_results"}
    %thead
      %tr
        %th Book
        %th Stars
        %th Reader
        %th Comments
        %th More Info
    %tbody
      - @all_reviews.each do |review|
        %tr 
          %td= review.book_id
          %td= review.stars
          %td= review.reader_id
          %td= review.comments
          %td= link_to "More about #{review.id}", review_path(review)
  
